.contenedor{
    display: flexbox;
    justify-content: center;
    background-color: black;
}
.estilosContenedor1{
    margin:"auto 60%";
    /* background-color: blue; */
    border-style: solid;
    border: 20px;
}

img{
    height: 260px;
    width:219px ;
}

.card h5{
    text-align: center;

}

.anchorImagenes{
    /* margin-right: 35%;
    margin-left: 15% */
/* text-align: center; */
}

.footer{background-color: rgba(0, 0, 0, 0.7);
color: white;}

.footer a{color: white;}